.tabbar-wrapper:has(.tabbar-wrapper) {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    height: -webkit-fill-available;
    margin-bottom: 4px;
    overflow: hidden;
}

.transparent-tabbar .tab.active .tab-header .favicon:not(.svg), .theme-dark .tab.active .tab-header .favicon:not(.svg), .acc-dark.color-behind-tabs-off .tab.active .tab-header .favicon:not(.svg) {
    filter: none;
}
